/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  Create four equal columns that sits next to each other
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
   */


#outerContainer {
    display: flex;
    background-color: lightskyblue;
    flex-direction: row;
}
#images {
    flex-wrap: wrap;
    height: 1000px;
}
img {
    height: 150px;
    width: 150px;
}

#header {
    background-color: red;
}
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 480px) {
    /* .column {
      flex: 45%;
      max-width: 45%;
    } */
    #outerContainer {
        display: flex;
        flex-direction: column;
        min-width: 360px;

    }

    #header {
        display: flex;
        height: 200px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

  }